:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --dark-blue-color: #0a3d62;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --content-color: #f6f6f6;
  --white-color: #ffffff;
  --black-color: #000000;
}

* {
  box-sizing: border-box;
}

/*! Scroll bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue-color);
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--black-color);
}
/*! End Scroll bar */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

/*! Start Sidebar */
.sidebar {
  width: 230px;
  box-shadow: 0 0 10px #ddd;
}

.sidebar > h3 {
  margin: 0;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 22px;
}

.sidebar ul li a:active,
.sidebar ul li a:hover {
  background-color: #f6f6f6;
}

.sidebar ul li {
  margin-top: 8px;
}
.sidebar ul li a span {
  font-size: 16px;
  font-weight: 600;
}

.sidebar ul li a {
  transition: 0.3s;
}

.sidebar ul li a i {
  margin-right: 8px;
}

.sidebar > h3::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: #000;
  bottom: 10px;
  left: 50%;
  transform: translate(-54%);
}

.sidebar > h3::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #000;
  bottom: 1px;
  left: 33%;
  transform: translate(50%);
  border-radius: 50%;
  border: #ffffff 4px solid;
  transition: 0.3s;
}
.sidebar > h3:hover::after {
  background-color: #ffffff;
  border: #10a413 4px solid;
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar ul li a span {
    display: none;
  }
  .sidebar > h3::before {
    display: none;
  }
  .sidebar > h3::after {
    display: none;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 10px;
    padding: 5px;
  }
}
/*! End Sidebar */

/*? Start Head */
.content {
  overflow: hidden;
  background-color: var(--content-color);
}
.head {
  padding-top: 8px;
  padding-bottom: 6px;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
  transition: all 0.3s ease-in-out;
}
.head .search:hover::before {
  color: var(--blue-alt-color);
}

.head .search input {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding-left: 21px;
  margin-left: 12px;
  width: 130px;
  border: 1px solid var(--grey-color);
  box-shadow: 0 0 1px var(--blue-alt-color);
  transition: all 0.3s ease-in-out;
}

.head .search input:focus {
  border: 1px solid var(--blue-alt-color);
  box-shadow: 0 0 6px var(--blue-alt-color);
  width: 180px;
}

.head .search input::placeholder {
  color: var(--grey-color);
  transition: all 0.2s ease-in-out;
}
.head .search input:focus::placeholder {
  opacity: 0;
}

.head .icon .profile_pic img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-right: 20px;
  border: var(--blue-alt-color) 2px solid;
  border-radius: 50%;
  transition: border 0.2s ease-in-out;
}

.head .icon .profile_pic img:hover {
  border: var(--blue-alt-color) 4px solid;
  border-radius: 50%;
}

/* TODO doesn't work wanna be solved later */
/* 
.head .icon .profile_pic img::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-color);
    position: absolute;
    left: 30%;
    top: 10%;
    transform: translate(-50%, -50%);
} */

.head .icon .notify {
  cursor: pointer;
  margin-right: 20px;
}

.head .icon .notify::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--red-color);
  position: absolute;
  left: 30%;
  top: 10%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.head .icon .notify::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green-color);
  position: absolute;
  left: 385%;
  bottom: -40%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.head .icon .bell:hover {
  animation: shake 0.6s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
}

@media screen and (max-width: 767px) {
  .head .search input::placeholder {
    opacity: 0;
  }

  .head .search input {
    width: 50px;
    margin-left: 8px;
  }
  .head .search input:focus {
    width: 100px;
  }
}
.page h1 {
  margin: 20px 20px 40px 30px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  background-color: #ffffff;
  width: 190px;
}
.page h1::after {
  background-color: var(--dark-blue-color);
}
/*? End Head */

/** Start Wrapper */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-inline: 20px;
  padding-block: 20px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(100px, 1fr);
    margin-inline: 10px;
    padding-block: 10px;
  }
}
/** End Wrapper */

/*! Start Welcome Widget */
.intro h2 {
  font-size: 32px;
  margin-top: -40px;
}
.intro p {
  font-size: 20px;
  margin-top: -25px;
  color: var(--blue-color);
  text-align: left;
  margin-left: 10px;
}
.intro img {
  width: 200px;
}
.welcome .visit {
  margin: 30px 20px;
  font-size: 16px;
  padding: 5px;
  width: 60px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.welcome .visit:hover {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
}

.welcome .profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -450px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 3px #0d21d8, 0 0 0 5px #e00606;
}
.welcome .profile:hover {
  box-shadow: 0 0 0 3px #e00608, 0 0 0 5px #0d21d9;
}
@media screen and (max-width: 767px) {
  .intro img {
    opacity: 0;
  }
  .intro h2 {
    text-align: center;
  }
  .welcome .profile {
    margin-left: 0;
    margin-top: -20px;
  }
  .body {
    display: block;
    padding: 10px;
    margin-top: 5px;
  }
  .body span {
    margin-top: -2px;
    margin-bottom: 10px;
  }
  .body :nth-child(3) {
    margin-left: 2px;
  }
}
/*! End Welcome Widget */

/*? Start Quick Draft */
.quick-draft {
  padding-left: 20px;
}
.quick-draft form input {
  width: 200px;
}
.quick-draft form textarea {
  width: 400px;
  height: 150px;
  resize: none;
}

.quick-draft form textarea,
.quick-draft form input {
  border: 0px solid var(--grey-color);
  box-shadow: 0 0 1px var(--blue-alt-color);
  transition: all 0.3s ease-in-out;
}

.quick-draft form textarea:focus,
.quick-draft form input:focus {
  border: 1px solid var(--blue-alt-color);
  box-shadow: 0 0 6px var(--blue-alt-color);
}

.quick-draft form textarea::placeholder,
.quick-draft form input::placeholder {
  transition: all 0.1s ease-in-out;
}

.quick-draft form textarea:focus::placeholder,
.quick-draft form input:focus::placeholder {
  opacity: 0;
}
/*? End Quick Draft */

/** Start Targets */
.target p {
  margin-top: -10px;
}
.target .target-row .icon {
  background-color: #0077ff69;
  padding: 40px;
}
.target .orange .icon {
  background-color: #f59e0b69;
}
.target .green .icon {
  background-color: #22c55e69;
}
.target .target-row .details {
  margin-top: 10px;
  flex: 1;
}

.target .target-row .details .progress > span {
  background-color: var(--blue-color);
  position: absolute;
  left: 0px;
  top: 0;
  height: 100%;
  border-radius: 6px;
}
.target .orange .details .progress > span {
  background-color: var(--orange-color);
}
.target .green .details .progress > span {
  background-color: var(--green-color);
}

.target .target-row .details .progress {
  background-color: #0077ff69;
  height: 6px;
  border-radius: 10px;
}
.target .orange .details .progress {
  background-color: #f59e0b69;
}
.target .green .details .progress {
  background-color: #22c55e69;
}

.target .target-row .details .progress > span span {
  position: absolute;
  left: 165px;
  top: -30px;
  border-radius: 6px;
}

.target .orange .details .progress > span span {
  left: 213px;
}

.target .green .details .progress > span span {
  left: 288px;
}
.target .target-row .details .progress > span span::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #0075ff;
  top: 20px;
  left: 10px;
}
.target .orange .details .progress > span span::after {
  border-top-color: var(--orange-color);
}
.target .green .details .progress > span span::after {
  border-top-color: var(--green-color);
}

@media screen and (max-width: 767px) {
  .target .target-row .details .progress > span span {
    left: 193px;
  }
  .target .green .details .progress > span span {
    left: 338px;
  }
  .target .orange .details .progress > span span {
    left: 250px;
  }
}
/** End Targets */

/*! Start Tickets */
.ticket p {
  margin-top: -10px;
}
.ticket .box {
  text-align: center;
  padding: 15px 50px;
  background-color: orange;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
  transition: all 0.3s ease-in-out;
}
.ticket .box:hover {
  background-color: rgb(224, 150, 12);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
}
.ticket .box i {
  color: black;
  transition: all 0.6s ease-in-out;
}

.ticket .box i:hover {
  transform: translateY(20px) scale(1.5);
}

.ticket .box p {
  color: rgb(32, 3, 3);
}

.ticket .box2 {
  text-align: center;
  padding: 15px 50px;
  background-color: var(--blue-color);
  border-radius: 20px;
  margin-left: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
  transition: all 0.3s ease-in-out;
}
.ticket .box2:hover {
  background-color: rgb(11, 71, 222);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
}
.ticket .box2 i {
  color: black;
  transition: all 0.9s ease-in-out;
}
.ticket .box2 i:hover {
  transform: rotate(360deg);
}
.ticket .box2 p {
  color: rgb(32, 3, 3);
}

.ticket .box3 {
  text-align: center;
  padding: 15px 50px;
  background-color: var(--green-color);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
  transition: all 0.3s ease-in-out;
  margin-right: 120px;
  margin-top: 20px;
}
.ticket .box3:hover {
  background-color: rgb(10, 171, 10);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
}
.ticket .box3 i {
  color: black;
  transition: all 0.6s ease-in-out;
}
.ticket .box3 i:hover {
  transform: rotate(20deg) scale(1.5);
}

.ticket .box3 p {
  color: rgb(32, 3, 3);
}

.ticket .box4 {
  text-align: center;
  padding: 15px 50px;
  background-color: var(--red-color);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.ticket .box4:hover {
  background-color: rgb(203, 15, 15);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
}
.ticket .box4 i {
  color: black;
  transition: all 0.6s ease-in-out;
}
.ticket .box4 i:hover {
  transform: skewY(10deg) scale(1.5);
}
.ticket .box4 p {
  color: rgb(32, 3, 3);
}
@media screen and (max-width: 667px) {
  .ticket .wrapper .box2 {
    margin-left: 40px;
  }
  .ticket .wrapper .box4 {
    margin-left: -80px;
  }
}
/*! End Tickets */

/*? Start Latest News */
.lat-news .info p {
  margin-top: -12px;
}
.lat-news .info {
  flex-grow: 1;
}
.lat-news .time p {
  text-align: center;
  font-size: 10px;
  padding-inline: 10px;
  transition: all 0.3s ease-in-out;
}
.lat-news .time:hover {
  color: #000;
  font-weight: 800;
  background-color: #e7e7e7;
}
/*? End Latest News  */

/** Start Latest Tasks */
.lat-task .task .info p {
  transition: all 0.3s ease-in-out;
}
.lat-task .task .info p:hover {
  color: var(--green-color);
}

.lat-task .task .done {
  opacity: 0.3;
  text-decoration: line-through;
  transition: all 0.3s ease-in-out;
}

.lat-task .task .del {
  transition: all 0.3s ease-in-out;
}
.lat-task .task .del:hover {
  color: var(--red-color);
  animation: shake 0.6s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
}
/** End Latest Tasks */

/*! Start Latest Uploads */
.latestUpload img {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
.latestUpload img:hover {
  transform: scale(1.2);
}
.latestUpload .info {
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
}
.latestUpload .size {
  transition: all 0.3s ease-in-out;
}
.latestUpload .size:hover {
  color: var(--black-color);
  cursor: pointer;
}
/*! End Latest Uploads */

/*? Start Last Project */
.last-project .circle::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--dark-blue-color);
  bottom: 2px;
  left: -12px;
  margin-left: 5px;
}

.last-project .circle .done::before,
.last-project .circle .current::before,
.last-project .circle .undone::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -16px;
  background-color: white;
  border: #ffffff solid 3px;
  outline: var(--blue-alt-color) solid 1px;
  transition: all 0.5s ease-in-out;
}

.last-project .circle .done::before {
  background-color: var(--green-color);
}
.last-project .circle .current::before {
  animation: pulse 0.9s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    background-color: var(--blue-alt-color);
  }
  100% {
    background-color: var(--white-color);
  }
}

.last-project img {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 60%;
  top: 30%;
  opacity: 0.2;
  rotate: 40deg;
  animation: takeOff 2.5s ease-in-out alternate infinite;
}
@keyframes takeOff {
  from {
    transform: translateY(0px);
    opacity: 0.2;
  }
  to {
    transform: translateY(-150px);
    opacity: 1;
  }
}
/*? End Last Project */

/*! Start Reminders */
.reminder .alarm::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: -40px;
  top: 30%;
  background-color: var(--blue-color);
}
.reminder .alarm::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.reminder .alarm p {
  margin-bottom: 5px;
}

.reminder .alarm2::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: -40px;
  top: 30%;
  background-color: var(--green-color);
}
.reminder .alarm2::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--green-color);
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.reminder .alarm2 p {
  margin-bottom: 5px;
}

.reminder .alarm3::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: -40px;
  top: 30%;
  background-color: var(--red-color);
}
.reminder .alarm3::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--red-color);
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.reminder .alarm3 p {
  margin-bottom: 5px;
}

.reminder .alarm4::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: -40px;
  top: 30%;
  background-color: var(--orange-color);
}
.reminder .alarm4::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--orange-color);
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.reminder .alarm4 p {
  margin-bottom: 5px;
}
/*! End Reminders */

/*? Start Latest Post */
.post .title {
  min-height: 120px;
}
.post .action .fa-heart {
  transition: all 0.3s ease-in-out;
}
.post .action .fa-heart:hover {
  color: var(--red-color);
  cursor: pointer;
}
.post .action .fa-comments {
  transition: all 0.3s ease-in-out;
}
.post .action .fa-comments:hover {
  color: var(--green-color);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .post .info {
    display: block;
    text-align: center;
  }
  .post .title {
    text-align: center;
  }
}
/*? End Latest Post */

/* Start SM Stats */
.sm-stat .box {
  margin-bottom: 15px;
}
.sm-stat .box .tw-btn {
  background-color: #1da1f2;
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.sm-stat .box .tw-btn:hover {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
}
.sm-stat .box .twitter {
  background-color: #1da1f2;
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}
.sm-stat .box {
  background-color: #1da0f23d;
  border-radius: 9px;
}

.sm-stat .box2 .fb-btn {
  background-color: #1877f2;
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.sm-stat .box2 .fb-btn:hover {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
}
.sm-stat .box2 .facebook {
  background-color: #1877f2;
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}
.sm-stat .box2 {
  background-color: #1876f26d;
  border-radius: 9px;
}

.sm-stat .box3 .yt-btn {
  background-color: #ff0000;
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.sm-stat .box3 .yt-btn:hover {
  background-color: darkred;
  color: var(--white-color);
}
.sm-stat .box3 .youtube {
  background-color: #ff0000;
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}
.sm-stat .box3 {
  background-color: #ff000071;
  border-radius: 9px;
  margin-block: 10px;
}

.sm-stat .box4 .lin-btn {
  background-color: #0a66c2;
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.sm-stat .box4 .lin-btn:hover {
  background-color: darkblue;
  color: var(--white-color);
}
.sm-stat .box4 .linkedin {
  background-color: #0a66c2;
  width: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}
.sm-stat .box4 {
  background-color: #0a66c288;
  border-radius: 9px;
  margin-block: 10px;
}
/* End SM Stats */

/*! Start Table */
.project table {
  max-width: 1000px;
  border-spacing: 0;
  text-align: center;
  margin-left: 80px;
}
.project .table{
  overflow-x: auto;
}
.project .table img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}
.project .table thead td {
  background-color: #eee;
}
.project .table td {
  padding: 20px;
}
.project tbody td {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}

.project .table img:not(:first-child) {
  margin-left: -20px;
}

.project .table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.project .table tr td {
  transition: all 0.3s ease-in-out;
}
.project .table tr:hover td {
  background-color: #faf7fa;
  cursor: pointer;
}
.project tbody:nth-child(odd) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 767px){
  .project table {
    margin-left: 0;
  }
}
/*! End Table */
